section
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  
  .movie-list 
    border: solid 1px #ccc
    min-height: 60px
    border-radius: 4px
    overflow: hidden
    margin-top: 25px
    width: fit-content

.movie-block 
  border-bottom: solid 1px #ccc
  color: rgba(0, 0, 0, 0.87)
  justify-content: space-between
  box-sizing: border-box
  background-color: #fff0ff
  cursor: move
  width: fit-content

.radio-group 
  display: flex
  flex-direction: column
  margin: 0px 15px

.cdk-drag-preview 
  box-sizing: border-box
  border-radius: 4px
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2)

.cdk-drag-placeholder 
  opacity: 0

.cdk-drag-animating 
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.movie-block:last-child 
  border: none

.movie-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder) 
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

