<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Imagen para la pestaña del navegador -->
<link rel="shorcut icon" href="Imagenes/Metroid.ico">

<head>
  <title>Nosotros</title>
</head>

<body>

  

  <!-- Contenido de la página -->
  <div class="container">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div id="sigueme1" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img1" class="card-img-top" src="assets/Img/botas.png" alt="Card image" style="width:60%;">
          </div>
          <div id="sigueme2" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img2" class="card-img-top" src="assets/Img/sombrero.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme3" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img3" class="card-img-top" src="assets/Img/casaca.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme4" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img4" class="card-img-top" src="assets/Img/shorts.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme5" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img5" class="card-img-top" src="assets/Img/zapatos.png" alt="Card image" style="width:60%">
          </div>
        </div>

        <br>

        <div class="row">
          <div id="sigueme6" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/blusa.png" alt="Card image" style="width:40%;">
          </div>
          <div id="sigueme7" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/corbata.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme8" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/espejo.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme9" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/camisa.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme10" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/perfume.png" alt="Card image" style="width:60%">
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center;">
          <div class="col-md-12">
            <img class="card-img-top" src="assets/Img/caja_azul.png" alt="Card image" style="width:80%;">
          </div>
        </div>

      </div>
    </div>

  </div>




</body>

</html>