<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Imagen para la pestaña del navegador -->
<link rel="shorcut icon" href="Imagenes/Metroid.ico">

<head>
  <title>Nosotros</title>
</head>

<body>
  <section style="margin-top: 25px;font-family: math;">
    <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
      <div class="container">
        <h1 class="display-4" style="text-align: center;">Igual - Diferente</h1>
        <p class="lead">Observa el animalito igual al modelo. señálalo.</p>
      </div>
    </div>
  </section>

  <!-- Contenido de la página -->
  <div class="container">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row" style="margin-bottom: 23px;">
      <div class="col-md-8">
        <div class="row">
          <div id="sigueme1" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img1" class="card-img-top" src="assets/Img/botas.png" alt="Card image" style="width:60%;">
          </div>
          <div id="sigueme2" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img2" class="card-img-top" src="assets/Img/sombrero.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme3" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img3" class="card-img-top" src="assets/Img/casaca.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme4" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img4" class="card-img-top" src="assets/Img/shorts.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme5" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img5" class="card-img-top" src="assets/Img/zapatos.png" alt="Card image" style="width:60%">
          </div>
        </div>

        <br>

        <div class="row">
          <div id="sigueme6" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/blusa.png" alt="Card image" style="width:40%;">
          </div>
          <div id="sigueme7" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/corbata.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme8" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/espejo.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme9" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/camisa.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme10" class="contenido col-md-2" style="background-color:#ecece5;">
            <img class="card-img-top" src="assets/Img/perfume.png" alt="Card image" style="width:60%">
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center;">
          <div class="col-md-12">
            <img class="card-img-top" src="assets/Img/caja_azul.png" alt="Card image" style="width:80%;height: 200px;">
          </div>
        </div>

      </div>
    </div>

    <div class="row" style="margin-bottom: 23px;">
      <div class="col-md-8">
        <div class="row">
          <div id="sigueme11" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img11" class="card-img-top" src="assets/Img/corbata.png" alt="Card image" style="width:60%;">
          </div>
          <div id="sigueme12" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img12" class="card-img-top" src="assets/Img/zapatos.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme13" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img13" class="card-img-top" src="assets/Img/blusa.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme14" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img14" class="card-img-top" src="assets/Img/liston.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme15" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img15" class="card-img-top" src="assets/Img/vestido_blanco.png" alt="Card image" style="width:60%">
          </div>
        </div>

        <br>

        <div class="row">
          <div id="sigueme16" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img16" class="card-img-top" src="assets/Img/lentes.png" alt="Card image" style="width:40%;">
          </div>
          <div id="sigueme17" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img17" class="card-img-top" src="assets/Img/balarina.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme18" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img18" class="card-img-top" src="assets/Img/pipa.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme19" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img19" class="card-img-top" src="assets/Img/shorts.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme20" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img" class="card-img-top" src="assets/Img/vestido.png" alt="Card image" style="width:60%">
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center;">
          <div class="col-md-12">
            <img class="card-img-top" src="assets/Img/caja_roja.png" alt="Card image" style="width:80%;height: 200px;">
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div id="sigueme21" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img21" class="card-img-top" src="assets/Img/bigote.png" alt="Card image" style="width:60%;">
          </div>
          <div id="sigueme22" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img22" class="card-img-top" src="assets/Img/zapatos.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme23" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img23" class="card-img-top" src="assets/Img/blusa_morado.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme24" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img24" class="card-img-top" src="assets/Img/liston.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme25" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img25" class="card-img-top" src="assets/Img/sombrero_morado.png" alt="Card image"
              style="width:60%">
          </div>
        </div>

        <br>

        <div class="row">
          <div id="sigueme26" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img26" class="card-img-top" src="assets/Img/kimono.png" alt="Card image" style="width:40%;">
          </div>
          <div id="sigueme27" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img27" class="card-img-top" src="assets/Img/camison.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme28" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img28" class="card-img-top" src="assets/Img/collar.png" alt="Card image" style="width:40%">
          </div>
          <div id="sigueme29" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img29" class="card-img-top" src="assets/Img/vestido_blanco.png" alt="Card image" style="width:60%">
          </div>
          <div id="sigueme30" class="contenido col-md-2" style="background-color:#ecece5;">
            <img id="img30" class="card-img-top" src="assets/Img/chompa.png" alt="Card image" style="width:60%">
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center;">
          <div class="col-md-12">
            <img class="card-img-top" src="assets/Img/caja_morado.png" alt="Card image"
              style="width:80%;height: 200px;">
          </div>
        </div>

      </div>
    </div>

  </div>




</body>

</html>