<!DOCTYPE html>
<html>

<body>
    <section style="margin-top: 25px;font-family: math;">
        <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
            <div class="container">
                <h1 class="consigna" style="text-align: center;">Trazos</h1>
                <p class="lead">Unir los puntos siguiendo el orden de los números y descubrirás algo maravilloso.</p>
            </div>
        </div>
    </section>

    <div class="dotConnect">
        <iframe class="frame" src="https://www.codeguppy.com/run.html?wNnhDoMB31ndKMf6gDx0" width=800></iframe>
    </div>

</body>

</html>