<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <section style="margin-top: 25px;font-family: math;">
    <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
      <div class="container">
        <h1 class="consigna" style="text-align: center;">Menor que, Mayor que</h1>
        <p class="lead">Arrastra el signo > < <span>ó </span> = según corresponda.</p>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="padding: 0px;flex-direction: column;display: flex;">
        <label style="margin: 15px 0px; text-align: initial">
          <b>Escoge el nivel del juego para empezar a jugar</b>
        </label>
        <!--mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="radio-group"
            [(ngModel)]="selectedNivel"
          >
            <mat-radio-button
              *ngFor="let nivel of nivels"
              [value]="nivel.nivel"
            >
              {{ nivel.nivel }}
            </mat-radio-button>
          </mat-radio-group-->

        <div class="btn-group" style="margin-bottom: 15px;width: fit-content;">
          <label style="background-color: #2bbbad !important; color: white" mdbBtn [(ngModel)]="selectedNivel"
            [mdbRadio]="nivel.nivel" mdbWavesEffect *ngFor="let nivel of nivels" [value]="nivel.nivel"
            (click)="resetear(selectedNivel)">
            {{ nivel.nivel }}
          </label>
        </div>

        <div style="text-align: initial; margin-bottom: 15px;">
          <input type="button" value="Resetear" (click)="resetear(selectedNivel)" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div cdkDropListGroup>
      <div class="row" *ngIf="habilitar == 1">
        <div class="col-md-2"></div>
        <div class="col-md-3" style="padding: 0px">
          <div class="movie-block" *ngFor="let nivel of nivel1 | slice: 0:6; let i = index">
            <img [src]="nivel.imagen" alt="" width="140px" style="border: 8px solid #292961" />
          </div>
        </div>
        <div class="col-md-3" id="answers">
          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo1"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo1; let i = index">
                <img id="0" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo2"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo2; let i = index">
                <img id="1" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo3"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo3; let i = index">
                <img id="2" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo4"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo4; let i = index">
                <img id="3" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo5"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo5; let i = index">
                <img id="4" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo6"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo6; let i = index">
                <img id="5" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="movie-block" *ngFor="let nivel of nivel1_1 | slice: 0:6; let i = index">
              <img [src]="nivel.imagen" width="140px" style="border: 8px solid #292961" />
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="habilitar == 2">
        <div class="col-md-2"></div>
        <div class="col-md-3" style="padding: 0px">
          <div class="movie-block" *ngFor="let nivel of nivel2 | slice: 0:6; let i = index">
            <img [src]="nivel.imagen" alt="" width="140px" style="border: 8px solid #292961" />
          </div>
        </div>
        <div class="col-md-3" id="answers">
          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo1"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo1; let i = index">
                <img id="0" [src]="item.imagen" alt="" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo2"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo2; let i = index">
                <img id="1" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo3"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo3; let i = index">
                <img id="2" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo4"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo4; let i = index">
                <img id="3" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo5"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo5; let i = index">
                <img id="4" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo6"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo6; let i = index">
                <img id="5" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div>
            <div class="movie-block" *ngFor="let nivel of nivel2_1 | slice: 0:6; let i = index">
              <img [src]="nivel.imagen" alt="" width="140px" style="border: 8px solid #292961" />
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="habilitar == 3">
        <div class="col-md-2"></div>
        <div class="col-md-3" style="padding: 0px">
          <div class="movie-block" *ngFor="let nivel of nivel3 | slice: 0:6; let i = index">
            <img [src]="nivel.imagen" alt="" width="140px" style="border: 8px solid #292961" />
          </div>
        </div>

        <div class="col-md-3" id="answers">

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo1"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo1; let i = index">
                <img id="0" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo2"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo2; let i = index">
                <img id="1" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo3"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo3; let i = index">
                <img id="2" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo4"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo4; let i = index">
                <img id="3" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo5"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo5; let i = index">
                <img id="4" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

          <div class="movie-block" style="height: 130px; background-color: white">
            <div style="width: 142px; height: 100%; flex-direction: column" cdkDropList [cdkDropListData]="signo6"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" cdkDrag *ngFor="let item of signo6; let i = index">
                <img id="5" [src]="item.imagen" width="140px" height="128.11px" />
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <div>
            <div class="movie-block" *ngFor="let nivel of nivel3_1 | slice: 0:6; let i = index">
              <img [src]="nivel.imagen" alt="" width="140px" style="border: 8px solid #292961" />
            </div>
          </div>
        </div>
      </div>

      <div id="signos" class="example-container" style="margin-top: 25px">
        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="done" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            <img [src]="item.imagen" alt="" width="70px" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="win === 1">
    <img class="win1" src="assets/Img/fireworks1.gif" style="position: absolute;;width: 56%;top: 426px;right: 0px;background-color: inherit;height: auto;">
    <img class="win2" src="assets/Img/fireworks3.gif" style="position:absolute;width: 50%;top: 418px;right: 342px;background-color: inherit;height: auto;">
    <img class="win3" src="assets/Img/fireworks2.gif" style="position:absolute;width: 56%;top: 426px;left: 0px;background-color: inherit;height: auto;">
</div>

</body>

</html>