<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b
              >Escoge el nivel del juego y haz clic en el botón iniciar
              juego:</b
            >
          </label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="radio-group"
            [(ngModel)]="selectedNivel"
          >
            <mat-radio-button
              *ngFor="let nivel of nivels"
              [value]="nivel.nivel"
            >
              {{ nivel.nivel }}
            </mat-radio-button>
          </mat-radio-group>

          <div style="text-align: initial;">
            <input
              type="button"
              value="Iniciar Juego"
              (click)="resetear(selectedNivel)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div cdkDropListGroup>
        <div class="row" *ngIf="habilitar == 1">
          <div class="col-md-2"></div>
          <div class="col-md-3" style="padding: 0px;">
            <div
              class="movie-block"
              *ngFor="let nivel of nivel1 | slice: 0:6; let i = index"
            >
              <img
                [src]="nivel.imagen"
                alt=""
                width="140px"
                style="border: 8px solid #292961;"
              />
            </div>
          </div>
          <div class="col-md-3" id="answers">
            <div
              class="movie-block"
              style="height: 100%; background-color: white;"
            >
              <div
                style="width: 142px; height: inherit; flex-direction: column;"
                cdkDropList
                [cdkDropListData]="todo1"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" cdkDrag *ngFor="let item of todo1">
                  <img
                    [src]="item.imagen"
                    alt=""
                    width="140px"
                    height="128.11px"
                    style="border: 8px solid #292961;"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div
                class="movie-block"
                *ngFor="let nivel of nivel1_1 | slice: 0:6; let i = index"
              >
                <img
                  [src]="nivel.imagen"
                  alt=""
                  width="140px"
                  style="border: 8px solid #292961;"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="habilitar == 2">
          <div class="col-md-2"></div>
          <div class="col-md-3" style="padding: 0px;">
            <div
              class="movie-block"
              *ngFor="let nivel of nivel2 | slice: 0:6; let i = index"
            >
              <img
                [src]="nivel.imagen"
                alt=""
                width="140px"
                style="border: 8px solid #292961;"
              />
            </div>
          </div>
          <div class="col-md-3" id="answers">
            <div
              class="movie-block"
              style="height: 100%; background-color: white;"
            >
              <div
                style="width: 142px; height: inherit; flex-direction: column;"
                cdkDropList
                [cdkDropListData]="todo1"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" cdkDrag *ngFor="let item of todo1">
                  <img
                    [src]="item.imagen"
                    alt=""
                    width="140px"
                    height="128.11px"
                    style="border: 8px solid #292961;"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div
                class="movie-block"
                *ngFor="let nivel of nivel2_1 | slice: 0:6; let i = index"
              >
                <img
                  [src]="nivel.imagen"
                  alt=""
                  width="140px"
                  style="border: 8px solid #292961;"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="habilitar == 3">
          <div class="col-md-2"></div>
          <div class="col-md-3" style="padding: 0px;">
            <div
              class="movie-block"
              *ngFor="let nivel of nivel3 | slice: 0:6; let i = index"
            >
              <img
                [src]="nivel.imagen"
                alt=""
                width="140px"
                style="border: 8px solid #292961;"
              />
            </div>
          </div>
          <div class="col-md-3" id="answers">
            <div
              class="movie-block"
              style="height: 100%; background-color: white;"
            >
              <div
                style="width: 142px; height: inherit; flex-direction: column;"
                cdkDropList
                [cdkDropListData]="todo1"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" cdkDrag *ngFor="let item of todo1">
                  <img
                    [src]="item.imagen"
                    alt=""
                    width="140px"
                    height="128.11px"
                    style="border: 8px solid #292961;"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div
                class="movie-block"
                *ngFor="let nivel of nivel3_1 | slice: 0:6; let i = index"
              >
                <img
                  [src]="nivel.imagen"
                  alt=""
                  width="140px"
                  style="border: 8px solid #292961;"
                />
              </div>
            </div>
          </div>
        </div>

        <div id="signos" class="example-container" style="margin-top: 25px;">
          <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of done" cdkDrag>
              <img [src]="item.imagen" alt="" width="70px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
