<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Memory Game</title>
  
</head>
<body>
    <section style="margin-top: 25px;display: grid;">
        <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
          <div class="container">
            <h1 class="consigna">MEMORIA</h1>
            <p class="lead">Haz clic en las tarjetas y empareja.</p>
          </div>
        </div>

        <div class="btn-group" style="margin-top: 25px;margin-bottom: 15px;">
            <label style="background-color: #2bbbad !important; color: white;" mdbBtn [(ngModel)]="favoriteSeason"
              [mdbRadio]="nivel.nivel" mdbWavesEffect *ngFor="let nivel of nivels" [value]="nivel.nivel"
              (mouseup)="iniciar()">
              {{ nivel.nivel }}
            </label>
          </div>
      </section>

  <section class="memory-game" *ngIf="favoriteSeason == 'Nivel 1'">
    <div class="memory-card" data-framework="aurelia">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="aurelia">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="vue">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="vue">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="angular">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="angular">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="ember">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="ember">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="backbone">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="backbone">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="react">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="react">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
  </section>

  <section class="memory-game" *ngIf="favoriteSeason == 'Nivel 2'">
    <div class="memory-card" data-framework="aurelia">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="aurelia">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="vue">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="vue">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="angular">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="angular">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="ember">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="ember">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="backbone">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="backbone">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="react">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="react">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="leon">
        <img class="front-face" src="assets/Img/leon.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="leon">
        <img class="front-face" src="assets/Img/leon.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="perro">
        <img class="front-face" src="assets/Img/perro.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="perro">
        <img class="front-face" src="assets/Img/perro.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
  </section>

  <section class="memory-game" style="width: 800px;" *ngIf="favoriteSeason == 'Nivel 3'">
    <div class="memory-card" data-framework="aurelia" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="aurelia" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/oso.png" alt="Aurelia" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="vue" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="vue" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/mono.png" alt="Vue" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="angular" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="angular" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/cuy.png" alt="Angular" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="ember" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="ember" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/gato.png" alt="Ember" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="backbone" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="backbone" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/loro.png" alt="Backbone" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="react" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>
    <div class="memory-card" data-framework="react" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
      <img class="front-face" src="assets/Img/alpaca.png" alt="React" />
      <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
    </div>

    <div class="memory-card" data-framework="leon" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/leon.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="leon" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/leon.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="perro" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/perro.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="perro" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/perro.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="hipopotamo" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/hipopotamo.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="hipopotamo" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/hipopotamo.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="elefante" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/elefante.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="elefante" style="width: calc(21% - 21px);height: calc(33.333% - 10px);">
        <img class="front-face" src="assets/Img/elefante.png" alt="React" />
        <img class="back-face" src="assets/Img/Pioneras-00.jpg" alt="JS Badge" />
      </div>
  </section>

  <div id="win" style="display: none;">
    <img class="win1" src="assets/Img/fireworks1.gif" style="position:absolute;width: 70%;top: 314px;right: 0px;">
    <img class="win2" src="assets/Img/fireworks3.gif" style="position:absolute;width: 50%;top: 329px;right: 342px;">

    <img class="win3" src="assets/Img/fireworks2.gif" style="position:absolute;width: 56%;top: 314px;left: 0px;">
  </div>

</body>
</html>