<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <section style="margin-top: 25px;font-family: math;">
    <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
      <div class="container">
        <h1 class="consigna" style="text-align: center;">Cuantificadores</h1>
        <p class="lead">Dale clic al objeto que corresponda.</p>
      </div>
    </div>
  </section>

  <div class="container wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10" style="padding: 0px;">
        <label style="margin: 15px 0px; text-align: initial;">
          <b>Haz clic en la imagen que tenga varios elementos:</b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div id="nivel1" class="parent col-md-10" style="background-image: url('assets/Img/fondo_madera.png');">
        <div class="row">
          <div class="col-md-3 view overlay zoom" style="text-align: center;" *ngFor="let item of nivel1">
            <img class="card-img-top" [src]="item.imagen" style="width: 60%; margin: 0px auto; cursor: pointer;"
              (click)="choice(item.name)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10" style="padding: 0px;">
        <label style="margin: 15px 0px; text-align: initial;">
          <b>Haz clic en la imagen que tenga pocos elementos:</b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div id="nivel2" class="parent col-md-10" style="background-image: url('assets/Img/fondo_tablero.png');">
        <div class="row">
          <div class="col-md-3 view overlay zoom" style="text-align: center;" *ngFor="let item of nivel2">
            <img class="card-img-top" [src]="item.imagen" style="width: 60%; margin: 0px auto; cursor: pointer;"
              (click)="choice(item.name)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10" style="padding: 0px;">
        <label style="margin: 15px 0px; text-align: initial;">
          <b>Haz clic en la imagen que tenga un solo elemento:</b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div id="nivel3" class="parent col-md-10" style="background-image: url('assets/Img/pasto.jpg');">
        <div class="row">
          <div class="col-md-3 view overlay zoom" style="text-align: center;" *ngFor="let item of nivel3">
            <img class="card-img-top" [src]="item.imagen" style="width: 60%; margin: 0px auto; cursor: pointer;"
              (click)="choice(item.name)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container wrapper" style="margin-bottom: 40px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10" style="padding: 0px;">
        <label style="margin: 15px 0px; text-align: initial;">
          <b>Haz clic en la imagen de la cesta con ningún elemento:</b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div id="nivel4" class="parent col-md-10" style="background-image: url('assets/Img/fondo_tablero_2.png');">
        <div class="row">
          <div class="col-md-3 view overlay zoom" style="text-align: center;" *ngFor="let item of nivel4">
            <img class="card-img-top" [src]="item.imagen" style="width: 60%; margin: 0px auto; cursor: pointer;"
              (click)="choice(item.name)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cont === 4">
    <img class="win1" src="assets/Img/fireworks1.gif" style="position: absolute;;width: 56%;top: 425px;right: 0px;background-color: inherit;height: auto;">
    <img class="win2" src="assets/Img/fireworks3.gif" style="position:absolute;width: 50%;top: 420px;right: 342px;background-color: inherit;height: auto;">

    <img class="win3" src="assets/Img/fireworks2.gif" style="position:absolute;width: 56%;top: 425px;left: 0px;background-color: inherit;height: auto;">
  </div>
</body>

</html>