<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!--<div class="container wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b
              >Escoge el nivel del juego y haz clic en el botón iniciar
              juego:</b
            >
          </label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="radio-group"
            [(ngModel)]="selectedNivel"
          >
            <mat-radio-button
              *ngFor="let nivel of nivels"
              [value]="nivel.nivel"
            >
              {{ nivel.nivel }}
            </mat-radio-button>
          </mat-radio-group>

          <div style="text-align: initial;">
            <input
              type="button"
              value="Iniciar Juego"
              (click)="resetear(selectedNivel)"
            />
          </div>
        </div>
      </div>
    </div>-->

    <div class="container wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b>Haz clic en la imagen que tenga varios elementos:</b>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          id="nivel1"
          class="parent col-md-10"
          style="background-image: url('assets/Img/fondo_madera.png');"
        >
          <div class="row">
            <div
              class="col-md-3 view overlay zoom"
              style="text-align: center;"
              *ngFor="let item of nivel1"
            >
              <img
                class="card-img-top"
                [src]="item.imagen"
                style="width: 60%; margin: 0px auto; cursor: pointer;"
                (click)="choice(item.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b>Haz clic en la imagen que tenga pocos elementos:</b>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          id="nivel2"
          class="parent col-md-10"
          style="background-image: url('assets/Img/fondo_tablero.png');"
        >
          <div class="row">
            <div
              class="col-md-3 view overlay zoom"
              style="text-align: center;"
              *ngFor="let item of nivel2"
            >
              <img
                class="card-img-top"
                [src]="item.imagen"
                style="width: 60%; margin: 0px auto; cursor: pointer;"
                (click)="choice(item.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b>Haz clic en la imagen que tenga un solo elemento:</b>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          id="nivel3"
          class="parent col-md-10"
          style="background-image: url('assets/Img/pasto.jpg');"
        >
          <div class="row">
            <div
              class="col-md-3 view overlay zoom"
              style="text-align: center;"
              *ngFor="let item of nivel3"
            >
              <img
                class="card-img-top"
                [src]="item.imagen"
                style="width: 60%; margin: 0px auto; cursor: pointer;"
                (click)="choice(item.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container wrapper" style="margin-bottom: 40px;">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0px;">
          <label style="margin: 15px 0px; text-align: initial;">
            <b>Haz clic en la imagen de la cesta con ningún elemento:</b>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          id="nivel4"
          class="parent col-md-10"
          style="background-image: url('assets/Img/fondo_tablero_2.png');"
        >
          <div class="row">
            <div
              class="col-md-3 view overlay zoom"
              style="text-align: center;"
              *ngFor="let item of nivel4"
            >
              <img
                class="card-img-top"
                [src]="item.imagen"
                style="width: 60%; margin: 0px auto; cursor: pointer;"
                (click)="choice(item.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
