<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <section style="margin-top: 25px;font-family: math;">
    <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
      <div class="container">
        <h1 class="consigna" style="text-align: center;">Descompongo las palabras</h1>
        <p class="lead">Dale clic al número de sílabas que tienen las palabras.</p>
      </div>
    </div>
  </section>

  <div class="container" style="margin-bottom: 45px;">
    <h2>
      Señala el número de sílabas que posea el nombre de las siguientes
      imágenes:
    </h2>
    <div class="row" style="margin-bottom: inherit;">
      <div class="col-md-3" *ngFor="let nivel of nivel1">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel1">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: inherit;"> 
      <div class="col-md-3" *ngFor="let nivel of nivel2">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel2">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: inherit;">
      <div class="col-md-3" *ngFor="let nivel of nivel3">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel3">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: inherit;">
      <div class="col-md-3" *ngFor="let nivel of nivel4">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel4">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: inherit;">
      <div class="col-md-3" *ngFor="let nivel of nivel5">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel5">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: inherit;">
      <div class="col-md-3" *ngFor="let nivel of nivel6">
        <img [src]="nivel.imagen" />
        <div style="background-color: white;width: 93%;text-align: center;">
          <b>{{nivel.name}}</b>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3" style="padding: 0px 0px 0px 29px;" *ngFor="let nivel of nivel6">
        <div class="row">
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(1, nivel.name, nivel.descompongo)">
              1
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(2, nivel.name, nivel.descompongo)">
              2
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(3, nivel.name, nivel.descompongo)">
              3
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(4, nivel.name, nivel.descompongo)">
              4
            </button>
          </div>
          <div class="col-sm-2 list-number" style="padding: 0px;">
            <button style="padding: 6px; margin: 5px 1px; border-radius: 15%;" class="{{ nivel.name }}" type="button"
              mdbBtn color="success" mdbWavesEffect (click)="iniciarJuego(5, nivel.name, nivel.descompongo)">
              5
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cont === 24">
    <img class="win1" src="assets/Img/fireworks1.gif" style="position:fixed;width: 56%;top: 105px;right: 0px;background-color: inherit;height: auto;">
    <img class="win2" src="assets/Img/fireworks3.gif" style="position:fixed;width: 50%;top: 90px;right: 342px;background-color: inherit;height: auto;">

    <img class="win3" src="assets/Img/fireworks2.gif" style="position:fixed;width: 56%;top: 105px;left: 0px;background-color: inherit;height: auto;">
  </div>
</body>

</html>