<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
          <div class="container">
        <h2 class="img-fluid1">Actividades</h2>
        <hr class="linea">
      </div>

      <div class="container">
        <div class="row">
           <div class="col-md-3">
            <a routerLink="/memoria">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_e.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Memoria</h5>
                   <p style="text-align:justify" class="card-text">Busca la pareja de cartas iguales, con mucha atención encuentra la respuesta correcta.</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_x.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Secuencia Temporal</h5>
                   <p style="text-align:justify" class="card-text">Ordena las acciones según cuál consideres que ocurrió primero y cuáles después.¡Suerte!</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_p.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Descopongo palabras</h5>
                   <p style="text-align:justify" class="card-text">Dale clic al numero de silabas que tiene las palabras. Las palabras estrán mezcladas mezcladas.</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_l.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Igual - Diferente</h5>
                   <p style="text-align:justify" class="card-text">Observa el modelo, señala el animalito igual al de la imagen.</p>
                 </div>
             </div>
           </div>
        </div>
 
        <br>
 
        <div class="row">
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_o.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Figuras Geométricas</h5>
                   <p style="text-align:justify" class="card-text">Mira las imágenes e identifica las diferentes figuras geométricas. ¡Suerte!</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <a routerLink="/agrupacion">
               <div class="card">
                  <img class="card-img-top" src="assets/Img/letra_r.png" alt="Card image" style="width:80%">
                    <div class="card-body">
                      <h5 style="text-align:center" class="card-title">Agrupación</h5>
                      <p style="text-align:justify" class="card-text">Identifica los objetos que pertenecen al grupo, según el color que corresponda.</p>
                    </div>
               </div>
              </a>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_a.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Contabilidad Numérica</h5>
                   <p style="text-align:justify" class="card-text">Cuenta los números y dale clic al número que corresponda.</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_n.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Menor - Mayor</h5>
                   <p style="text-align:justify" class="card-text">Observa el modelo, señala el animalito igual al de la imagen.</p>
                 </div>
             </div>
           </div>
        </div>
 
        <br>
 
        <div class="row">
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_d.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Cuantificadores</h5>
                   <p style="text-align:justify" class="card-text">Dale clic donde hay muchos / dale cilc donde hay pocos. ¡Suerte!</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_o.png" alt="Card image" style="width:80%">
                 <div class="card-body">
                   <h5 style="text-align:center" class="card-title">Pertenencia</h5>
                   <p style="text-align:justify" class="card-text">Ubica a los animales según corresponda.</p>
                 </div>
             </div>
           </div>
        </div>
    </div>

    <br>
</body>
</html>