<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
          <div class="container">
        <h1 class="img-fluid1">Actividades</h1>
        <hr class="linea">
      </div>

      <div class="container">
        <div class="row">
           <div class="col-md-3">
            <a routerLink="/memoria">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_e.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Memoria</b></h2>
                   <p style="text-align:justify" class="card-text">Busca la pareja de cartas iguales, con mucha atención encuentra la respuesta correcta.</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
            <a routerLink="/secuencia">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_x.png" alt="Card image">
                 <div class="card-body">
                  <h2 style="text-align:center" class="card-title"><b>Secuencia Temporal</b></h2>
                   <p style="text-align:justify" class="card-text">Ordena las acciones según cuál consideres que ocurrió primero y cuáles después.¡Suerte!</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
            <a routerLink="/silabas">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_p.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Descopongo palabras</b></h2>
                   <p style="text-align:justify" class="card-text">Dale clic al numero de silabas que tiene las palabras. Las palabras estrán mezcladas mezcladas.</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
            <a routerLink="/igual-diferente">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_l.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Igual - Diferente</b></h2>
                   <p style="text-align:justify" class="card-text">Observa el modelo, señala el animalito o el objeto igual al de la imagen. ¡Buena suerte, tu puedes lograrlo!</p>
                 </div>
             </div>
            </a>
           </div>
        </div>
 
        <br>
 
        <div class="row">
           <div class="col-md-3">
            <a routerLink="/figura-geometrica">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_o.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Figuras Geométricas</b></h2>
                   <p style="text-align:justify" class="card-text">Mira las imágenes e identifica las diferentes figuras geométricas. ¡Suerte!</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
             <a routerLink="/agrupacion">
               <div class="card">
                  <img class="card-img-top" src="assets/Img/letra_r.png" alt="Card image">
                    <div class="card-body">
                      <h2 style="text-align:center" class="card-title"><b>Agrupación</b></h2>
                      <p style="text-align:justify" class="card-text">Identifica los objetos que pertenecen al grupo, según el color que corresponda.</p>
                    </div>
               </div>
              </a>
           </div>
 
           <div class="col-md-3">
            <a routerLink="/contabilidad-numerica">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_a.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Contabilidad Numérica</b></h2>
                   <p style="text-align:justify" class="card-text">Cuenta los números y dale clic al número que corresponda.</p>
                 </div>
             </div>
            </a>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_n.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Menor - Mayor</b></h2>
                   <p style="text-align:justify" class="card-text">Observa el modelo, señala el animalito igual al de la imagen.</p>
                 </div>
             </div>
           </div>
        </div>
 
        <br>
 
        <div class="row">
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_d.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Cuantificadores</b></h2>
                   <p style="text-align:justify" class="card-text">Dale clic donde hay muchos o identifica donde hay pocos.</p>
                 </div>
             </div>
           </div>
 
           <div class="col-md-3">
             <div class="card">
               <img class="card-img-top" src="assets/Img/letra_o_2.png" alt="Card image">
                 <div class="card-body">
                   <h2 style="text-align:center" class="card-title"><b>Pertenencia</b></h2>
                   <p style="text-align:justify" class="card-text">Ubica a los animales según corresponda.</p>
                 </div>
             </div>
           </div>
        </div>
    </div>

    <br>
</body>
</html>