<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section style="margin-top: 25px;font-family: math;">
    <div class="jumbotron jumbotron-fluid" style="padding:10px;border-radius: 10px;">
      <div class="container">
        <h1 class="display-4" style="text-align: center;">Diferente</h1>
        <p class="lead">Observa el animalito diferente. señálalo.</p>
      </div>
    </div>
  </section>

  <div class="container wrapper">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: center;">
        <img class="card-img-top img-main" src="assets/Img/alpaca.png" style="width: 30%; margin: 0px auto;" />
      </div>
      <div class="col-sm"></div>
    </div>
    <div id="nivel1" class="parent" style="background-image: url('assets/Img/pasto.jpg');">
      <div class="row">
        <div class="col-md-4" style="text-align: center;" *ngFor="let item of nivel1">
          <img class="card-img-top" [src]="item.imagen" style="
                width: 30%;
                margin: 0px auto;
                cursor: pointer;
                margin-top: 5px;
              " (click)="correctChoice(item.name)" />
        </div>
      </div>
    </div>
  </div>
  <div class="container parent">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: center;">
        <img class="card-img-top img-main" src="assets/Img/conejo.png" style="width: 30%; margin: 0px auto;" />
      </div>
      <div class="col-sm"></div>
    </div>
    <div id="nivel2" class="parent" style="background-image: url('assets/Img/pasto.jpg');">
      <div class="row">
        <div class="col-md-4" style="text-align: center;" *ngFor="let item of nivel2">
          <img class="card-img-top" [src]="item.imagen" style="
                width: 30%;
                margin: 0px auto;
                cursor: pointer;
                margin-top: 5px;
              " (click)="correctChoice(item.name)" />
        </div>
      </div>
    </div>
  </div>
  <div class="container parent">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: center;">
        <img class="card-img-top img-main" src="assets/Img/oso.png" style="width: 30%; margin: 0px auto;" />
      </div>
      <div class="col-sm"></div>
    </div>
    <div id="nivel3" class="parent" style="background-image: url('assets/Img/pasto.jpg');">
      <div class="row">
        <div class="col-md-4" style="text-align: center;" *ngFor="let item of nivel3">
          <img class="card-img-top" [src]="item.imagen" style="
                width: 30%;
                margin: 0px auto;
                cursor: pointer;
                margin-top: 5px;
              " (click)="correctChoice(item.name)" />
        </div>
      </div>
    </div>
  </div>
  <div class="container parent">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: center;">
        <img class="card-img-top img-main" src="assets/Img/serpiente.png" style="width: 30%; margin: 0px auto;" />
      </div>
      <div class="col-sm"></div>
    </div>
    <div id="nivel4" class="parent" style="background-image: url('assets/Img/pasto.jpg');">
      <div class="row">
        <div class="col-md-4" style="text-align: center;" *ngFor="let item of nivel4">
          <img class="card-img-top" [src]="item.imagen" style="
                width: 30%;
                margin: 0px auto;
                cursor: pointer;
                margin-top: 5px;
              " (click)="correctChoice(item.name)" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>