/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

body
  background-color: #e2f1ff

@font-face
  font-family: lato
  src: url(assets/font/OPTIDutch-Oldstyle.otf) format("opentype")

.jumbotron
  background-color: #ffa500
<<<<<<< HEAD

.consigna
  text-align: center
  font-family: lato !important
  color: white

.lead
  font-family: lato
  color: white
=======
>>>>>>> cbff82f5f28c60eb98b84ca43ebbf1cf290c62a8
