/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
//@import "./styles/fonts"
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

body
  background-color: #e2f1ff

@font-face
  font-family: 'bubbleboddy_neue_trialregular'
  src: url('styles/font/bubbleboddyneue-regular_trial-webfont.woff2') format('woff'),url('styles/font/bubbleboddyneue-regular_trial-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
  //src: url('assets/Img/font/bubbleboddyneue-regular trial.otf')

.jumbotron
  background-color: #ffa500

.consigna
  text-align: center
  font-family: bubbleboddy_neue_trialregular !important
  color: white

.lead
  font-family: bubbleboddy_neue_trialregular
  color: white
