/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
//@import ".styles/font/bubbleboddyneue-regular_trial-webfont.otf" --load-path
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"


body
  background-color: #e2f1ff

@font-face
  font-family: 'Kanit', sans-serif
  //@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&display=swap')
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap')
  //src: url('assets/Img/font/bubbleboddyneue-regular trial.otf')

.jumbotron
  background-color: #ffa500

.consigna
  text-align: center
  font-family: Kanit !important
  color: white

.lead
  font-family: Kanit
  color: white
